[pager]
    diff = 

[color]
    interactive = true

[user]
	name = Justin Hammond
	email = jhammond@mailgun.com

[alias]
	last = log -1 HEAD
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"

[url "git@github.com:"]
  insteadOf = https://github.com
